header {
  width : 1200px;
  height : 822px;
  margin : 0 auto;
  background-image : url("../assets/header-background.png");
  }
  body {
   margin: 0 auto;
   width: 1200px;
  }
  .spn {
  display : inline-flex;
  width : 91px;
  height : 16px;
  padding-top : 67px;
  padding-left : 152px;
  font-family : 'source_sans_proregular';
  font-size : 20px;
  line-height : 16px;
  color : #FFFFFF;
  text-align : Left;
  vertical-align : Top;
  letter-spacing : 5px;
  }

  ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
  }

  li {
  display : inline;
  padding-left : 32px;
  }

  .nav {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font color: #FFFFFF;
  }